Source: libkolab
Section: libs
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Kolab Maintainers <pkg-kolab-devel@lists.alioth.debian.org>
Uploaders: Paul Klos <kolab@klos2day.nl>,
           Diane Trout <diane@ghic.org>,
           Sandro Knauß <bugs@sandroknauss.de>
Build-Depends: cmake,
               debhelper (>= 9),
               libboost-program-options-dev,
               libboost-thread-dev,
               libcurl4-gnutls-dev,
               libkf5akonadi-dev,
               libkf5akonadinotes-dev,
               libkf5calendarcore-dev,
               libkf5calendarutils-dev,
               libkf5contacts-dev,
               libkf5mime-dev,
               libkolabxml-dev (>= 1.1.1),
               libxerces-c-dev,
               php5-cli,
               php5-dev (>= 5.3),
               pkg-kde-tools (>= 0.12),
               python-dev (>= 2.7),
               qtbase5-dev,
               swig
X-Python-Version: >= 2.7
Standards-Version: 3.9.6
Homepage: http://git.kolab.org/libkolab
Vcs-Git: git://anonscm.debian.org/pkg-kolab/libkolab.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kolab/libkolab.git

Package: libkolab1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Maps KDE containers to Kolab formats
 libkolab provides conversions from/to KDE containers, MIME message
 handling and facilities to read and write kolabv2 and kolabv3.
 .
 The libkolab package provides:
  - kolabformatv2: Kolabformat v2 implementation moved here from kdepim-runtime
  - kolabformat:   Kolab object reading/writing (MIME message + kolab-format).
                   Handles v2/v3 transparently.
  - conversion:    Conversions from KDE to Kolab containers and vice versa.
  - mime:          MIME message handling used by kolabformat
  - icalendar:     Exposes iCalendar functionality:
                   iCal reading/writing, iTip, iMip
  - calendaring:   Some general calendaring functions
 .
 The libkolab library belongs to the Kolab 3 server components.

Package: php-kolab
Architecture: any
Depends: libkolab1 (= ${binary:Version}),
         php-kolabformat,
         ucf,
         ${misc:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Description: PHP bindings for Kolab Library
 This package provides the Kolab PHP modules icalendar and calendaring.
 .
  - The calendaring module provides some general calendaring functions
  - The icalendar module exposes iCalendar functionality:
    iCal reading/writing, iTip, iMip.

Package: python-kolab
Architecture: any
Section: python
Depends: libkolab1 (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Description: Python bindings for Kolab Library
 This package provides the Kolab Python modules icalendar and calendaring.
 .
  - The calendaring module provides some general calendaring functions
  - The icalendar module exposes iCalendar functionality:
    iCal reading/writing, iTip, iMip.

Package: libkolab-dev
Section: libdevel
Architecture: any
Depends: kdepimlibs5-dev,
         libkolab1 (= ${binary:Version}),
         libkolabxml-dev (>= 1.1.1),
         libqt4-dev,
         ${misc:Depends}
Description: Development package for Kolab library
 libkolab provides conversions from/to KDE containers, MIME message
 handling and facilities to read and write kolabv2 and kolabv3.
 .
 This package contains the development files for the library,
 including headers and Libkolab cmake files.
